
@using Livis.Market.Models.ViewModel;
@model ProductViewModel
@{
    ViewData["Title"] = "Create";
    Layout = "/Views/Shared/_LisvisServerLayout.cshtml";
}
<script src="~/LivisServer/js/init_product.js"></script>
<form asp-action="Create" method="post" enctype="multipart/form-data">
    <h2>Create</h2>
    <div class="col-md-6">
        <div class="form-group col-md-12">
        <label asp-for="OriginalLinks" class="col-md-12 control-label"></label>
        <div class="col-md-12">
            <input asp-for="OriginalLinks" class="form-control" />
            <span asp-validation-for="OriginalLinks" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group col-md-12">
        <label asp-for="Name" class="col-md-12 control-label"></label>
        <div class="col-md-12">
            <input asp-for="Name" class="form-control" required="true" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group col-md-12">
        <label asp-for="Category" class="col-md-12 control-label"></label>
        <div class="col-md-12">
            <table class="table borderless">
                <tr>
                    @{
                        int cnt = 0;
                        CategoryModel[] categories = ViewBag.Categories;

                        foreach (var item in categories)
                        {
                            if (cnt++ % 4 == 0)
                            {
                               @:</tr><tr>
                            }
                            @:<td>
                                <input type="radio"
                                       asp-for="CategoryId"
                                       value="@item.CategoryId"
                                       checked/>
                                       @item.Name
                            @:</td>
                        }
                     @:</tr>
                    }
            </table>
        </div>
    </div>
    <div class="form-group col-md-12">
        <div class="col-md-3"><label asp-for="Length" class="control-label"></label></div>
        <div class="col-md-3"><label asp-for="Width" class="control-label"></label></div>
        <div class="col-md-3"><label asp-for="Height" class="control-label"></label></div>
        <div class="col-md-3"><label asp-for="Weight" class="control-label"></label></div>
    </div>
    <div class="form-group col-md-12">
        <div class="col-md-3"><input type="number" asp-for="Length" class="form-control" step="any" /></div>
        <div class="col-md-3"><input type="number" asp-for="Width" class="form-control" step="any" /></div>
        <div class="col-md-3"><input type="number" asp-for="Height" class="form-control" step="any" /></div>
        <div class="col-md-3"><input type="number" asp-for="Weight" class="form-control" step="any" required="true" /></div>
    </div>
    <div class="form-group col-md-12">
        <div class="col-md-6"><label asp-for="Cost" class="control-label"></label></div>
        <div class="col-md-6"><label asp-for="SuggestedPrice" class="control-label"></label></div>
    </div>
    <div class="form-group col-md-12">
        <div class="col-md-6"><input type="number" asp-for="Cost" required="true" class="form-control" step="any" /></div>
        <div class="col-md-6"><input type="number" asp-for="SuggestedPrice" required="true" class="form-control" step="any" /></div>
    </div>
    <div class="form-group col-md-12">
        <label asp-for="Description" class="col-md-12 control-label"></label>
        <div class="col-md-12">
            <textarea asp-for="Description" id="rtxDescription" required="true"></textarea>
        </div>
    </div>
    </div>
    <div class="col-md-6">
        <div class="form-group col-md-12">
            <label asp-for="Videos" class="col-md-12 control-label"></label>
            <div class="col-md-12">
                <input asp-for="Videos" class="form-control" />
            </div>
        </div>
        <div class="form-group col-md-12">
            <label asp-for="Resources" class="col-md-12 control-label"></label>
            <div class="col-md-12">
                <input asp-for="Resources" class="form-control" />
            </div>
        </div>
        <div class="form-group col-md-12">
            <label asp-for="Photos" class="col-md-12 control-label"></label>
            <div style="display:none">
                <input id="filesPhotos" type="file" class="form-control" onchange="previewFiles(this, 1)" multiple />
            </div>
        </div>
        <div id="divPreviewPhotos" class="photo-review form-group col-md-12">
            <img attr-btnUpload onclick="$('#filesPhotos').click()" class="img-thumbnail" src="~/images/upload.png" style="height:100px; cursor: pointer">
        </div>
        <div id="hdImg" style="display:none">
        </div>
        <div class="form-group col-md-12">
            <label asp-for="PartnerPhotos" class="col-md-12 control-label"></label>
            <div style="display:none">
                <input id="filesPartnerPhotos" type="file" class="form-control" onchange="previewFiles(this, 2)" multiple />
            </div>
        </div>
        <div id="divPreviewPartnerPhotos" class="photo-review form-group col-md-12">
            <img attr-btnUpload onclick="$('#filesPartnerPhotos').click()" class="img-thumbnail" src="~/images/upload.png" style="height:100px; cursor: pointer">
        </div>
        <div id="hdPartnerImg" style="display:none">
        </div>
        <div class="form-group col-md-12">
            <div style="display:none">
                <input id="filesPartnerPhotos" type="file" class="form-control" onchange="previewFiles(this, 2)" multiple />
            </div>
        </div>
    </div>
    <div class="form-group">
        <input class="btn btn-primary" type="submit" value="Create" />
    </div>
</form>
<div style="clear:both"></div>

