
@using Livis.Market.Models.ViewModel;
@model OrganisationViewModel
@{
    ViewData["Title"] = "Create";
    Layout = "/Views/Shared/_LisvisServerLayout.cshtml";
}

Welcome to Livis Market Administration Tools
<div style="clear:both"></div>

