<div class="lead-md text-center">
    <center class="line-responsive-empty-cart"><hr></center>
</div>
<div class="lead-md text-center">
    <div>
        <span class="option text-regular mr-3 mb-0 ">
            Your cart
        </span>
    </div>
</div>
<div class="lead-md text-center">
    <center class="line-responsive-empty-cart"><hr></center>
</div>
<div class="lead-md text-center">
    <div>
        <span class="option text-regular mr-3 mb-0 ">
            Your cart is currently empty.
        </span>
        <br />
        <span class="option text-regular mr-3 mb-0 ">
            <a href="/Shopping">Continue browsing here.</a>
        </span>
    </div>
</div>