
@font-face {
  font-family: 'KozGoPr6N-Light-AlphaNum';
  src: url('KozGoPr6N-Light-AlphaNum.eot?#iefix') format('embedded-opentype'),  url('KozGoPr6N-Light-AlphaNum.otf')  format('opentype'),
	     url('KozGoPr6N-Light-AlphaNum.woff') format('woff'), url('KozGoPr6N-Light-AlphaNum.ttf')  format('truetype'), url('KozGoPr6N-Light-AlphaNum.svg#KozGoPr6N-Light-AlphaNum') format('svg');
  font-weight: normal;
  font-style: normal;
}
